h1 {
    text-align: center;
}

.lines {
    background-color: rgb(160, 170, 170);
    height: 20px;
    width: 100%;
    border: 2px solid black;
}

.walls {
    background-color: darkgreen;
    border: 2px solid red;
}

.passSpaces {
    background-color: yellow;
    border: 2px solid blue;
}